<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FuncionesPaquetes/src/MostrarCapicua1_99999.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="MostrarCapicua1_99999"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FuncionesPaquetes"/>
</launchConfiguration>
